{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="quiz-container fade show">
        <h2 class="text-center mb-4">Select Quiz Category</h2>
        
        <div class="category-grid">
            {% for category in categories %}
            <!-- Category card for each quiz category -->
            <a href="{{ url_for('select_difficulty', category=category) }}" class="category-card">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ category }}</h5>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
            <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">学習進捗を確認</a>
        </div>
    </div>
</div>
{% endblock %}
